/*********************************
4. Home
*********************************/

.about {
  width: 100%;
  height: 465px;
  background: transparent;
}
.about_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.about_content {
  position: absolute;
  bottom: 106px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about_title {
  font-size: 72px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.intro {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 105px;
  background: #f6f9fb;
}
.intro_image {
  position: absolute;
  right: 0;
  top: 13px;
}
.intro_title {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
}
.intro_text {
  margin-bottom: 0px;
  font-weight: 600;
  color: #929191;
  margin-top: 60px;
}
.intro_button {
  margin-top: 57px;
  z-index: 1;
}

/*********************************
6. Section Title
*********************************/

.section_title {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  margin-top: -8px;
  text-transform: uppercase;
}

/*********************************
7. Rating
*********************************/

.rating {
  margin-top: 10px;
}
.rating i {
  font-size: 19px;
  margin-right: 4px;
}
.rating i:last-child {
  margin-right: 0px;
}
.rating_1 i:first-child {
  color: #ffeb8d;
}
.rating_2 i:first-child {
  color: #ffeb8d;
}
.rating_2 i:nth-child(2) {
  color: #fed46b;
}
.rating_3 i:first-child {
  color: #ffeb8d;
}
.rating_3 i:nth-child(2) {
  color: #fed46b;
}
.rating_3 i:nth-child(3) {
  color: #fbb53d;
}
.rating_4 i:first-child {
  color: #ffeb8d;
}
.rating_4 i:nth-child(2) {
  color: #fed46b;
}
.rating_4 i:nth-child(3) {
  color: #fbb53d;
}
.rating_4 i:nth-child(4) {
  color: #fa9e1b;
}
.rating_5 i:first-child {
  color: #ffeb8d;
}
.rating_5 i:nth-child(2) {
  color: #fed46b;
}
.rating_5 i:nth-child(3) {
  color: #fbb53d;
}
.rating_5 i:nth-child(4) {
  color: #fa9e1b;
}
.rating_r i::before {
  font-family: "FontAwesome";
  content: "\f006";
  font-style: normal;
  font-size: 19px;
  margin-right: 4px;
}
.rating_r_1 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}
.rating_r_2 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}
.rating_r_2 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}
.rating_r_3 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}
.rating_r_3 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}
.rating_r_3 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}
.rating_r_4 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}
.rating_r_4 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}
.rating_r_4 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}
.rating_r_4 i:nth-child(4)::before {
  color: #fa9e1b;
  content: "\f005";
}
.rating_r_5 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}
.rating_r_5 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}
.rating_r_5 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}
.rating_r_5 i:nth-child(4)::before {
  color: #fa9e1b;
  content: "\f005";
}
.rating_r_5 i:nth-child(5)::before {
  color: #ef910a;
  content: "\f005";
}

/*********************************
8. Stats
*********************************/

.stats {
  padding-top: 100px;
  padding-bottom: 105px;
}
.stats_text {
  margin-top: 21px;
  padding-left: 30px;
  padding-right: 30px;
}
.stats_years {
  padding-left: 116px;
  padding-right: 116px;
  margin-top: 39px;
}
.stats_contents {
  margin-top: 23px;
  padding-left: 55px;
  padding-right: 55px;
}
.stats_years div {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fa9e1b;
}
.stats_item {
  margin-bottom: 24px;
}
.stats_item:last-child {
  margin-bottom: 0px;
}
.stats_last {
  width: 25%;
  float: left;
  padding-left: 60px;
}
.stats_new {
  width: 25%;
  float: left;
  padding-right: 60px;
}
.stats_last_icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  padding-bottom: 5px;
}
.stats_new_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 100%;
  padding-bottom: 5px;
}

.stats_number {
  font-size: 24px;
  font-weight: 600;
  color: #2d2c2c;
}
.stats_type {
  font-size: 14px;
  font-weight: 600;
  color: #929191;
}
.stats_bar {
  width: 50%;
  height: 2px;
  background: #e1e1e1;
  float: left;
  margin-top: 33px;
}
.stats_bar_perc {
  position: absolute;
  top: 0;
  height: 2px;
  background: #31124b;
  max-width: 100% !important;
}
.stats_bar_perc div {
  width: 100%;
}
.stats_bar_value {
  position: absolute;
  top: -39px;
}

/*********************************
9. Add
*********************************/

.add {
  width: 100%;
}
.add_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.add_container {
  padding-top: 52px;
  padding-bottom: 64px;
}
.add_content {
  padding-left: 151px;
}
.add_title {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 2px;
}
.add_subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 7px;
}
.add_subtitle span {
  font-size: 18px;
  font-weight: 700;
}
.add_button {
  margin-top: 30px;
}

/*********************************
10. Milestones
*********************************/

.milestones {
  padding-top: 105px;
  padding-bottom: 100px;
}
.milestone {
  width: 100%;
}
.milestone_icon {
  display: inline-block;
  height: 58px;
}
.milestone_icon img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.milestone_counter {
  font-size: 48px;
  font-weight: 600;
  color: #2d2c2c;
  line-height: 1;
  margin-top: 25px;
}
.milestone_text {
  font-size: 14px;
  font-weight: 600;
  color: #9a9999;
  margin-top: 22px;
  text-transform: uppercase;
}

/*********************************
11. Footer
*********************************/

.footer {
  width: 100%;
  padding-top: 113px;
  padding-bottom: 104px;
  background: #31124b;
}
.footer_title {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

/*********************************
11.1 Footer - About
*********************************/

.footer_about {
  padding-top: 67px;
}
.footer_logo {
  position: absolute;
  left: 0;
  top: -24px;
}
.footer_about_text {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.footer_social_item {
  display: inline-block;
  width: 31px;
  height: 31px;
  border: solid 1px #fa9e1b;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 9px;
}
.footer_social_item:last-child {
  margin-right: 0px;
}
.footer_social_item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.footer_social_item a i {
  display: block;
  position: relative;
  color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_social_item:hover {
  background: #fa9e1b;
}
.footer_social_item:hover a i {
  color: #31124b;
}

/*********************************
11.2 Footer - Blog
*********************************/

.footer_blog {
  margin-top: 39px;
}
.footer_blog_item {
  margin-bottom: 21px;
}
.footer_blog_item:last-child {
  margin-bottom: 0px;
}
.footer_blog_image {
  width: 60px;
  height: 60px;
  float: left;
}
.footer_blog_image img {
  width: 100%;
}
.footer_blog_content {
  padding-left: 81px;
}
.footer_blog_title {
  margin-top: -4px;
  padding-left: 1px;
}
.footer_blog_title a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.footer_blog_title a:hover {
  color: #fa9e1b;
}
.footer_blog_date {
  font-size: 12px;
  font-weight: 400;
  color: #fa9e1b;
  margin-top: 7px;
}

/*********************************
11.3 Footer - Tags
*********************************/

.footer_tags {
  margin-top: 40px;
}
.tag_item {
  height: 35px;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  border: solid 1px #fa9e1b;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.tag_item:hover {
  background: #fa9e1b;
}
.tag_item a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  padding-left: 25px;
  padding-right: 25px;
}

/*********************************
11.4 Footer - Contact Info
*********************************/

.contact_info_list {
  margin-top: 40px;
}
.contact_info_item {
  margin-bottom: 22px;
}
.contact_info_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact_info_icon img {
  display: block;
  width: 100%;
}
.contact_info_text,
.contact_info_text a {
  color: #ffffff;
  line-height: 2.14;
  margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a {
  color: #fa9e1b;
}

/*********************************
12. Copyright
*********************************/

.copyright {
  background: #1f0733;
}
.copyright_content {
  height: 52px;
}
.copyright_content div {
  font-size: 12px;
  font-weight: 600;
  color: #685677;
}
.footer_nav_container {
  height: 52px;
}
.footer_nav {
}
.footer_nav_list {
  font-size: 0px;
}
.footer_nav_item {
  display: inline-block;
  margin-right: 40px;
}
.footer_nav_item a {
  font-size: 12px;
  font-weight: 600;
  color: #685677;
  text-transform: uppercase;
  line-height: 2;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_nav_item a:hover {
  color: #ffffff;
}
