.contact_form_section {
  padding-top: 105px;
}
.contact_form_container {
  padding-top: 74px;
  padding-left: 98px;
  padding-right: 98px;
  padding-bottom: 88px;
  background: linear-gradient(to top right, #fa9e1b, #8d4fff);
}
.contact_title {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.contact_form {
  margin-top: 52px;
  font-size: 0px;
}
.input_field {
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  border-bottom: solid 2px #e1e1e1;
}
.contact_form_name {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
}
.contact_form_email {
  width: calc((100% - 30px) / 2);
}
.contact_form_subject {
  width: 100%;
  margin-top: 11px;
}
.contact_form_message {
  height: 126px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 19px;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: solid 2px #e1e1e1;
  padding-top: 11px;
}
