/*********************************
4. Home
*********************************/

.home {
  width: 100%;
  height: 100vh;
}

/*********************************
4.1 Home Slider
*********************************/

.home_slider_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #31124b;
}
.home_slider {
  width: 100%;
  height: 100%;
}
.home_slider_item {
  width: 100%;
  height: 100%;
}
.home_slider_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}
.home_slider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}
.home_slider_content h1 {
  margin-bottom: 0px;
}
.home_slider_content h1:first-child {
  font-size: 112px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}
.home_slider_content h1:nth-child(2) {
  font-family: "Beyond";
  font-size: 100px;
  color: #ffffff;
  margin-top: -34px;
}
.home_slider_button {
  margin-top: 70px;
}
.flipInX {
  animation-delay: 600ms;
}

/*********************************
4.2 Home Slider Nav
*********************************/

.home_slider_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 11;
  cursor: pointer;
}
.home_slider_prev {
  left: 50px;
}
.home_slider_next {
  right: 50px;
}
.home_slider_prev:hover .nav_path,
.home_slider_prev:hover .nav_arrow {
  fill: url(#home_grad_prev);
}
.home_slider_next:hover .nav_arrow,
.home_slider_next:hover .nav_path {
  fill: url(#home_grad_next);
}

/*********************************
4.3 Home Slider Dots
*********************************/

.home_slider_dots {
  position: absolute;
  right: 50px;
  bottom: 45px;
  z-index: 10;
}
.home_slider_custom_dots {
}
.home_slider_custom_dot {
  display: inline-block;
  position: relative;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.home_slider_custom_dot:hover {
  color: #fa9e1c;
}
.home_slider_custom_dot:hover.active div {
  border-color: #fa9e1c;
}
.home_slider_custom_dot.active {
  padding-left: 13px;
  padding-right: 9px;
  margin-right: 3px;
}
.home_slider_custom_dot div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 2px transparent;
  border-radius: 18px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.home_slider_custom_dot.active div {
  border: solid 2px #ffffff;
}

/*********************************
5. Search
*********************************/

.search {
  width: 100%;
  height: 192px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  z-index: 10;
}
.search_tabs_container {
  position: absolute;
  bottom: 100%;
  left: 15px;
  width: calc(100% - 30px);
}
.search_tabs {
  height: 94px;
}
.search_tab {
  font-size: 14px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.search_tab img {
  margin-right: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.search_tab:first-child {
  border-top-left-radius: 94px;
  padding-left: 7px;
}
.search_tab:last-child {
  border-top-right-radius: 94px;
  padding-right: 7px;
}
.search_tab.active {
  background: #fa9e1b;
  color: #ffffff;
}
.search_tab.active img {
  -webkit-filter: brightness(200%) grayscale(100%);
  -moz-filter: brightness(200%) grayscale(100%);
  -ms-filter: brightness(200%) grayscale(100%);
  -o-filter: brightness(200%) grayscale(100%);
  filter: brightness(200%) grayscale(100%);
}
.search_tab:hover {
  background: #fa9e1b;
  color: #ffffff;
}
.search_tab:hover img {
  -webkit-filter: brightness(200%) grayscale(100%);
  -moz-filter: brightness(200%) grayscale(100%);
  -ms-filter: brightness(200%) grayscale(100%);
  -o-filter: brightness(200%) grayscale(100%);
  filter: brightness(200%) grayscale(100%);
}
.search_panel {
  display: none !important;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.search_panel.active {
  display: flex !important;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search_panel_content {
  width: 100%;
  height: 100%;
}
.search_input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 600;
  color: #929191;
}
.search_item:first-child {
  width: 30.453%;
}
.search_item:nth-child(2) {
  width: 13.961%;
}
.search_item:nth-child(3) {
  width: 13.961%;
}
.search_item:nth-child(4) {
  width: 9.947%;
}
.search_item:nth-child(5) {
  width: 9.947%;
}
.search_item div {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.dropdown_item_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-image: url(../../../assets/Images/dropdown.png);
  background-position: center right;
  background-repeat: no-repeat;
  border: solid 1px #ffffff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.dropdown_item_select::-ms-expand {
  display: none;
}
.dropdown_item_select:hover {
  border: solid 1px #fa9e1c;
}
.dropdown_item_select:focus {
  outline-color: #fa9e1c;
}
.search_button {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  background: #31124b;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  border: none;
  outline: none;
  cursor: pointer;
}
.search_button:hover {
  opacity: 0.8;
}

/*********************************
6. Section Title
*********************************/

.section_title {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  margin-top: -8px;
  text-transform: uppercase;
}
